# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rostyslav\Downloads\Distributed-Computing-main\Distributed-Computing-main\lab7\DistributedComputingLab9Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
